
@import "uify/styles/index";
@import "uify/styles/extension/differences";
@import "windify/styles/index";
@import "inputify/styles/index";

//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/

.windify.postify {

  .titlebar {
    &.modified .uify-item-field-title:after {
      color: @error;
      content: "♦";
    }
  }

  & > .body > .spaces > .spaces-wrapper > .space {

    & > .help-message {
      background-color: @warning;
      color: @warningContrast;
      padding: 0.4em;
      margin: 0.8em;
      font-size: 1.4em;
      text-align: center;
      font-family: @basefont;
    }

    & > .inputify_container {

      padding: 0;

      & > .inputify {
        background: none;
        height: 100%;
        // padding: 0.4em;
      }

    }

  }

  // support advanced input display toggling
  &.postify-advanced_inputs_force_invert_visibility > .body .inputify_container {
    &.advanced_input {
      display: none; // hide input if it is normally displayed
      &.advanced_input-hidden { display: flex; } // show input if it is normally hidden
    }
  }

  &.postify-new_entry {
    .titlebar {
      color: @success;
    }
  }

}

//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
